.text-center{
    text-align: center !important;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.column{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.column-full{
    width: 100%;
}

.column-fourth{
    width: 25%;
}

.column-third{
    width: 33.333333%;
}

.column-half{
    width: 50%;
}

.clear{
    clear: both;
}
:root{
    --heightheder: 48px;
}
/* Slider */
.image-slider {
    padding-top: 50%;
    position: relative;
    background: url('/assets/img/Background/background.png') top center / cover no-repeat;    
}

#content .content-general{
    /* min-width: 50%; */
    width: 818px;
    /* width: 50%; */
    max-width: 100%;
    padding: 68px 0 118px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .first-wishes{
    font-size: 32px;
    text-align: center;
    font-weight: 520;
    letter-spacing: 2px;
}

#content .women-vietnam{
    font-size: 28px;
    text-align: center;
    font-style: italic;
    margin: 22px 0;
    opacity: 0.7;
}

#content .list-wishes{
    margin-top: 50px;
}

/* Clones Member */
#content .member-img{
    font-size: 18px;
}

#content .content-general .list-wishes .member-card{
    /* width: 154px;
    height: 174px;  */
    width: 100%;
    height: 100%;   
    border-radius: 20px;
    z-index: 1;
}


#content .content-general .list-wishes{
    margin-top: 14px;
}

#content .content-general .list-wishes div{
    height: 174px;
    width: 154px;
    border-radius: 20px;
    position: relative;
    background-color: #29303f;
    padding: 2px;
    display: grid;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}